---
import Navigation from "./Navigation.astro";
---

<footer class="site-footer">
	<div class="constrained">
		<Navigation orientation="horizontal" />
	</div>
</footer>

<style>
	.site-footer {
		padding-top: var(--space-sm);
		padding-bottom: var(--space-sm);
		margin-top: var(--space-sm);
	}
</style>
